#login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: white;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 384px;
    height: 546px;
    border-radius: 10px;
    border: 1px solid #dee1e6ff;
    box-shadow:
      0px 0px 2px #171a1f14,
      0px 1px 2.5px #171a1f12;
    background: white;
    .title {
      margin-top: 60px;
      text-align: center;
      h2 {
        font-size: 24px;
        font-weight: 600;
        color: #333333;
      }
      p {
        margin-top: -15px;
        font-size: 14px;
        color: #666666;
      }
    }
    .form {
      margin-top: 20px;
      width: 80%;
      .button {
        margin-top: 20px;
      }
    }
  }
}
